<?xml version="1.0"?>
<launch>

	<arg name="world" default="worlds/turtlebot3_world.world"/>
	<arg name="map" default="$(find rviz_demo)/maps/turtlebot3.yaml"/>

	<include file="$(find rviz_demo)/launch/core.launch">
		<arg name="rviz_config" value="$(find rviz_demo)/config/localize.rviz"/>
	</include>

	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>
	<node name="amcl" pkg="amcl" type="amcl"/>

</launch>
	
