<?xml version="1.0"?>
<launch>

	<arg name="world" default="$(find rviz_demo)/worlds/turtlebot3_world.world"/>
	<arg name="map" default="$(find rviz_demo)/maps/turtlebot3.yaml"/>
	
	<!-- load map, localize, and launch rviz + gazebo -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>	
	<node name="amcl" pkg="amcl" type="amcl"/>
	<include file="$(find rviz_demo)/launch/core.launch">
		<arg name="world" value="$(arg world)"/>
		<arg name="rviz_config" value="$(find rviz_demo)/config/planning.rviz"/>
	</include>

	<!-- local and global planners -->
	<node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
		<param name="base_global_planner" value="navfn/NavfnROS"/>
		<param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
		<param name="recovery_behavior_enabled" value="true"/>
		<param name="controller_frequency" value="1.0"/>

		<rosparam file="$(find rviz_demo)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
		<rosparam file="$(find rviz_demo)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
		<rosparam file="$(find rviz_demo)/config/local_costmap_params.yaml" command="load"/>
		<rosparam file="$(find rviz_demo)/config/global_costmap_params.yaml" command="load"/>
		<rosparam file="$(find rviz_demo)/config/base_local_planner_params.yaml" command="load"/>
	</node>

</launch>
