<?xml version="1.0"?>
<robot name="roscontrol" xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:property name="robot_side" value="0.3" />
<xacro:property name="pi" value="3.1415" />

<xacro:include filename="wheel.xacro"/>	
<xacro:include filename="lidar.xacro"/>

	<link name="base_link">
    	<visual>
      		<geometry>
        		<box size="${robot_side*2} ${robot_side} ${robot_side/2}"/>
      		</geometry>
    	</visual>
    	<collision>
      		<geometry>
        		<box size="${robot_side*2} ${robot_side} ${robot_side/2}"/>
      		</geometry>
    	</collision>
		<inertial>
			<mass value="30" />
			<inertia ixx="0.0405" ixy="0" ixz="0" iyy="0.162" iyz="0" izz="0.0405" />
		</inertial>
	</link>

	<xacro:drive_wheel location="right" parent="base_link">
		<origin xyz="${robot_side/2} ${robot_side/2} 0" rpy="0 0 0"/>
		</xacro:drive_wheel>
	<xacro:drive_wheel location="left" parent="base_link">
		<origin xyz="${robot_side/2} -${robot_side/2} 0" rpy="0 0 0"/>
		</xacro:drive_wheel>
	<xacro:caster_wheel location="back" parent="base_link">
		<origin xyz="-${2*robot_side/3} 0 -${robot_side/4+0.001}" rpy="0 0 0"/>
		</xacro:caster_wheel>
	<xacro:lidar location="top" parent="base_link"/>

	<gazebo>
    	<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      		<robotNamespace>/</robotNamespace>
    	</plugin>
  	</gazebo>

</robot>
